mixin product(title, description, currentprice, oldprice, tag ,image)
    a(href="product.html").product
        img(src="images/webp/emblem.webp", alt="").emblem
        div.top
            div(onclick="event.preventDefault(); this.classList.toggle('active')").favourite
                include ../../images/favourite_product.svg
            div.cart
                include ../../images/cart.svg
            if oldprice
                span.percente -#{ Math.round(100 - currentprice / (oldprice / 100)) }%
        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src=image, alt="")
                div.swiper-slide: img(src=image, alt="")
                div.swiper-slide: img(src=image, alt="")
                div.swiper-slide: img(src=image, alt="")
        div.main_info
            strong.title= title
            span.description= description
            div.price
                span.current #{parseInt( currentprice ).toLocaleString()} ₽
                if oldprice
                    span  / 
                    span.old #{parseInt( oldprice ).toLocaleString()} ₽
            span.tags= tag
        div.hover_info
            div.weights
                span 10 гр
                span 25 гр
                span 50 гр
                span 100 гр
            button(data-modal-target="cart")
                include ../../images/cart.svg
                pre купить

mixin article(image, date, title, text)
    a(href="catalog.html" style="background-image: url(" + image + ")").article_card
        img(src=image, alt="").preview
        div.text
            span.date= date
            strong= title
            span= text
            div.more
                span Читать далее
                include ../../images/more_arrow.svg

mixin select(name, title, ...items)
    fieldset.select(class=name)
        div(tabindex="0").select_current
            input(type="radio", id=name, value=title, name=name, checked)
            span= title
            each item, index in items
                //- - index == 0 ? checked = true : checked = false
                input(type="radio", id=name + '_' + index, value=item, name=name)
                span= item
            div.arrow
                include ../../images/select_arrow.svg
        div.select_list
            each item, index in items
                label(for=name + '_' + index)= item

mixin review(product, description, date, reviewer, text, stars)
    div.review
        a(href="product.html").review_product
            img(src="images/webp/9.webp", alt="")
            div.text
                strong= product
                span= description
        div.content
            span.date= date
            span.reviewer= reviewer
            div.stars
                div.star: include ../../images/review_star.svg
                div.star: include ../../images/review_star.svg
                div.star: include ../../images/review_star.svg
                div.star: include ../../images/review_star.svg
                div.star.empty: include ../../images/review_star.svg
            div.text
                span= text
            div.gallery
                img(src="images/webp/9.webp", alt="")
                img(src="images/webp/9.webp", alt="")
                img(src="images/webp/9.webp", alt="")
            a.answer Ответ магазина



